<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/cards.css">
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <script src="/js/main.js"></script>
        <script> 
            // function image(img){
            //     var id = document.getElementById("image")[0].
            // }
        </script>
    </head>
<div class="navbar">
    <div class="logo">
      <h2>Hello, User</h2>
    </div>
  
    <div class="nav__links">
      <a href="#home" class="active nav__link">Home</a>
      <a href="#about" class="nav__link">User's Details</a>
      <a href="#contact" class="nav__link">Contact</a>
    </div>
  </div>
  
  <div id="home" class="section">
    <!-- <h1>Home</h1> -->
    <div class="cards-list">
        <div class="card 1">
            <div class="card_image"> <img src ="https://reqres.in/img/faces/1-image.jpg" onclick=image(this) id = "image"><!--<img src="https://reqres.in/img/faces/1-image.jpg" id="image1"/>--> </div>
            <div class="card_title title-black">
                <p>User 1 </p>
            </div>
        </div>
        <div class="card 2">
            <div class="card_image"> <img src="https://reqres.in/img/faces/2-image.jpg" id="image2" /> </div>
                <div class="card_title title-black">
                  <p>User 2</p>
            </div>
        </div>
        <div class="card 3">
            <div class="card_image"> <img src="https://reqres.in/img/faces/3-image.jpg" id="image3" /> </div>
                <div class="card_title title-black">
                  <p>User 3</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="cards-list">
        <div class="card 1">
            <div class="card_image"> <img src="https://reqres.in/img/faces/4-image.jpg" id="image4"/> </div>
            <div class="card_title title-black">
                <p>User 4 </p>
            </div>
        </div>
        <div class="card 2">
            <div class="card_image"> <img src="https://reqres.in/img/faces/5-image.jpg" id="image5"/> </div>
                <div class="card_title title-black">
                  <p>User 5</p>
            </div>
        </div>
        <div class="card 3">
            <div class="card_image"> <img src="https://reqres.in/img/faces/6-image.jpg" id="image6" /> </div>
                <div class="card_title title-black">
                  <p>User 6</p>
            </div>
        </div>
    </div>
</div>
    <!-- </div> -->
  <div id="about" class="section">
    <!-- <h1>About</h1> -->
  </div>
  <div id="contact" class="section">
    <!-- <h1>Contact</h1> -->
  </div>
  